#welcomeGreeting {
  text-align: center;
  font-size: 70px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-family: "Walk The Moon", sans-serif;
  color: white;
}
#butoes {
  text-align: center;
  background-color: rgb(59, 59, 120);
  padding-top: 10px;
  padding-bottom: 10px;
  outline: auto;
}

h1 {
  color: white;
}
/*CSS do botão, https://getcssscan.com/css-buttons-examples */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Walk The Moon", sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
  background-image: linear-gradient(
    92.88deg,
    #2a47b2 9.16%,
    #4632cd 43.89%,
    #5323d6 64.72%
  );
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

#tabelaResp {
  width: 100%;
  color: black;
}

#adminZone {
  text-align: center;
  font-family: "Walk The Moon", serif;
  color: white;
}

#respHeader {
  color: aqua;
}

body {
  background-image: url("https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148865393.jpg?w=1380&t=st=1707865079~exp=1707865679~hmac=bc3ea0da79c88f37ccde31820d64abf80bbcae53c4900d69c566602705c3ab34");
  background-size: cover;
}
